<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="QuetzalConnectionString" connectionString="Data Source=JORGE8A\SQLEXPRESS;Initial Catalog=Quetzal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuetzalExpreConnectionString" connectionString="Data Source=JORGE8A\SQLEXPRESS;Initial Catalog=QuetzalExpre;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:12533/Servicio.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap"
                name="WebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
